# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env.local
.env.*

# Django
/staticfiles/
/media/

# Node / React
node_modules/
build/
dist/

# MacOS / system files
.DS_Store

# Docker
*.bak
docker-compose.override.yml

#backend
/backend/db_backup/