version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.local
    container_name: django_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env.local           # .env.local is in root now
    environment:
      - DJANGO_SETTINGS_MODULE=expense_tracker_project.settings.local
    depends_on:
      - db
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build:
      context: ./frontend/ex_tracker
      dockerfile: Dockerfile.local
    container_name: react_frontend
    volumes:
      - ./frontend/ex_tracker:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:8000
    depends_on:
      - backend
    command: npm start

  db:
    image: postgres:14
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_local:/var/lib/postgresql/data
      - ./backend/db_backup:/docker-entrypoint-initdb.d   # optional SQL backup; only used if volume is empty

volumes:
  postgres_data_local:
    driver: local
