name: Python package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run backend tests
        run: |
          python manage.py test backend.expense_tracker.tests  # Replace with your Django app's test path

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Replace with your Node.js version

      - name: Install frontend dependencies
        working-directory: ./frontend/ex_tracekr/src  # Replace with your frontend directory
        run: |
          npm install

      - name: Run frontend tests
        working-directory: ./frontend/ex_tracekr/src  # Replace with your frontend directory
        run: |
          npm test -- --watchAll=false
